
.tile {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: -4px;
}

.boundary {
  width: 500px;
  height: 500px;
  display: inline-block;
  position: relative;
}

.player {
  left: 20%;
}

.opponent {
  left: 30%;
}

.shot {
  background-image: url(./red-x.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.blue {
  background-color: blue;
  margin-top: 15px;
}

.shipCount {
  display: inline-block;
  position: absolute;
  left: 7%;
  text-align: center;
}

.App {
  margin-top: 30px;
  height: 2000px;
}

button {
  width: 200px;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 2em;
  position: relative;
  top: 5%;
  left: 1.5%;
}